.colorFondo{
    background-color: $color-primario;
}
.colorFuente{
    color: $color-secundario;
}
.estilosAncla{
    list-style: initial;
    list-style: none;
    & :hover{
        background-color:$color-terciario;
        border-radius: 15%;
    }
}